.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.section-title .title {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.section-title .title b {
  font-weight: 700;
}

.section-title .btn-more {
  font-size: 14px;
  color: #787878;
}

.section-title .btn-more:hover {
  color: #ffcd32;
}

.section-contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-contents > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-class {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://kukka-2-media-123.s3.amazonaws.com/media/class-name/ContentsTopBanner/3/class_2022_home_mob_okfoQzB.jpeg");
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.main-class .main-class-txt {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.main-class .main-class-txt b {
  display: block;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
}

.main-class .main-class-txt b img {
  height: 18px;
}

.sub-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-class:last-child {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #d3d3d3;
}

.sub-class .thumbnail {
  display: inline-block;
  min-width: 46%;
  overflow: hidden;
}

.sub-class .thumbnail span {
  display: block;
  width: 100%;
  height: 170px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.sub-class .thumbnail span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sub-class:first-child .thumbnail span {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://kukka-2-media-123.s3.amazonaws.com/media/class-name/ClassProductGroup/106/img_%EC%98%A4%EC%95%84%EC%8B%9C%EC%8A%A4-%EB%A6%AC%EC%8A%A4.jpg");
}

.sub-class:last-child .thumbnail span {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://kukka-2-media-123.s3.amazonaws.com/media/class-name/ClassProductGroup/107/img_%ED%81%B4%EB%9E%98%EC%8B%9D-%ED%95%B8%EB%93%9C%ED%83%80%EC%9D%B4%EB%93%9C.jpg");
}

.class-info {
  padding-left: 20px;
  width: 100%;
}

.class-info .name {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin-bottom: 3px;
}

.class-info .name:hover {
  text-decoration: underline;
}

.class-info .price {
  font-size: 14px;
  font-weight: 500;
}

.class-info .branch-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-top: 15px;
}

.class-info .branch-tag .tag {
  padding: 5px;
  line-height: 1;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: -0.15px;
  min-width: 50px;
  margin-bottom: 5px;
  margin-right: 4px;
  cursor: pointer;
}

.class-info .branch-tag .tag:hover {
  text-decoration: underline;
}

.tag[class*='tag-ghm'] {
  border-color: #a27fde;
  color: #a27fde;
}

.tag[class*='tag-js'] {
  border-color: #46cfa7;
  color: #46cfa7;
}

.tag[class*='tag-wg'] {
  border-color: #ffa04d;
  color: #ffa04d;
}

.tag[class*='tag-gr'] {
  border-color: #68a4fe;
  color: #68a4fe;
}

.tag[class*='tag-sp'] {
  border-color: #ffcd32;
  color: #ffcd32;
}

.tag[class*='tag-bdr'] {
  border-color: #00afe3;
  color: #00afe3;
}

@media screen and (max-width: 1340px) {
  .arrow-btns {
    display: none;
  }
}

.arrow-btns .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 51%;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.arrow-btns .btn.btn-prev {
  left: -3%;
  padding-right: 5px;
}

.arrow-btns .btn.btn-next {
  right: -3%;
  padding-left: 5px;
}

.arrow-btns .btn img {
  height: 30px;
  opacity: 0.2;
}

.arrow-btns .btn:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

.arrow-btns .btn:hover img {
  opacity: 0.4;
}

@media screen and (max-width: 1023px) {
  .section-title {
    margin-bottom: 20px;
  }
  .section-title .title {
    font-size: 22px;
  }
  .section-contents {
    display: block;
  }
  .main-class {
    width: 100%;
    height: 500px;
    margin-bottom: 12px;
  }
  .main-class .main-class-txt {
    font-size: 16px;
  }
  .main-class .main-class-txt b {
    font-size: 17px;
  }
  .main-class .main-class-txt b img {
    height: 13px;
  }
  .sub-class:last-child {
    padding-top: 20px;
    margin-top: 20px;
  }
  .sub-class .thumbnail {
    min-width: 144px;
  }
  .sub-class .thumbnail span {
    height: 110px;
  }
  .sub-class .class-info .name {
    font-size: 14px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .main-class {
    height: 200px;
  }
  .main-class .main-class-txt {
    left: 15px;
    bottom: 15px;
    font-size: 14px;
  }
  .main-class .main-class-txt b {
    margin-top: 5px;
    font-size: 16px;
  }
  .sub-class .class-info .name {
    margin-top: 0;
  }
  .sub-class .class-info .branch-tag {
    margin-top: 8px;
  }
  .sub-class .class-info .branch-tag .tag {
    padding: 5px 2px;
  }
}
