.footer {
  padding: 80px 0;
  color: #f7f7f7;
  background-color: #222222;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top .footer-logo {
  width: 160px;
  height: 70px;
  display: inline-block;
  background-image: url("../images/kukka.png");
  background-position: 2px -608px;
  background-size: 1252px 845px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 1200px) {
  .footer-top .footer-logo {
    display: none;
  }
}

.footer-bottom::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #9b9b9b;
  margin: 20px 0;
  opacity: 0.4;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-container a {
  margin-right: 10px;
}

.facebook::before {
  content: '';
  display: inline-block;
  background-image: url("../images/kukka.png");
  background-position: -42px -775px;
  width: 32px;
  height: 32px;
  background-size: 1252px 845px;
}

.instagram::before {
  content: '';
  display: inline-block;
  background-image: url("../images/kukka.png");
  background-position: -1214px -438px;
  width: 32px;
  height: 32px;
  background-size: 1252px 845px;
}

.youtube::before {
  content: '';
  display: inline-block;
  background-image: url("../images/kukka.png");
  background-position: -1164px -685px;
  width: 32px;
  height: 32px;
  background-size: 1252px 845px;
}

.qna {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qna dt,
.qna dd {
  font-size: 22px;
  margin-right: 15px;
}

.qna small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  font-size: 13px;
}

.qna-btn {
  padding: 0 20px;
  border: #9b9b9b 1px solid;
  border-radius: 18px;
  cursor: pointer;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
}

.dd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.dd-container dd:not(:last-child)::after {
  content: '|';
  display: inline-block;
  margin: 0 10px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about dd {
  opacity: 0.8;
}

.tems {
  font-size: 14px;
}

.tems a + a {
  margin-left: 15px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 60px 0;
  }
  .footer-top {
    position: relative;
    margin-bottom: 70px;
  }
  .qna {
    display: block;
    font-size: 20px;
  }
  .qna dt {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .qna span + dd {
    display: inline-block;
    font-size: 18px;
  }
  .qna dd + dd {
    display: block;
  }
  .qna .sr-only {
    display: none;
  }
  .qna + p {
    font-size: 14px;
    margin-top: 10px;
  }
  .qna-btn {
    position: absolute;
    bottom: -80px;
    line-height: 33px;
  }
  .about {
    display: block;
  }
  .about dd {
    font-size: 11px;
  }
  .about .tems {
    margin-top: 20px;
    font-size: 12px;
  }
}
