.gnbNav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  border-bottom: 1px solid #f4f4f4;
}

.gnbNav.scrolled {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(255, 202, 67, 0.7);
          box-shadow: 0px 1px 3px 0px rgba(255, 202, 67, 0.7);
  border-bottom: 1px solid #ffcd32 \0 /IE89;
  border-bottom: none;
}

.gnbUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100%;
}

.gnbMenu,
.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobileMenu {
  display: none;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #f4f4f4;
  color: #787878;
}

.mobileLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logoBox {
  margin-right: 100px;
  height: 54px;
}

.logoBox > a {
  display: inline-block;
  height: 54px;
}

.mainLogo {
  width: 127px;
}

.mobileLogo {
  display: none;
  margin-left: 20px;
}

.gnbLi {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 50px;
  color: #222222;
  font-size: 18px;
  font-weight: 300;
}

.gnbLi > a:hover::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ffcd32;
}

.buttonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  width: 90px;
}

.buttonBox > a > img {
  width: 30px;
}

@media screen and (max-width: 1023px) {
  .gnbNav {
    position: relative;
    height: 52px;
  }
  .gnbNav.scrolled {
    position: fixed;
  }
  .gnbUl {
    height: 52px;
  }
  .logoBox {
    height: 35px;
  }
  .logoBox > a {
    height: 35px;
  }
  .mainLogo {
    display: none;
  }
  .mobileLogo {
    display: block;
    width: 187px;
  }
  .gnbMenu {
    display: none;
  }
  .mobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .buttonBox {
    width: 21px;
    margin-right: 20px;
  }
  .buttonBox > a > img {
    width: 21px;
  }
  .userBtn {
    display: none;
  }
}
