.gnbNav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  top: 0;
  height: 100px;
  width: 100vw;
  z-index: 10;
  background-color: #ffffff;
}

.gnbNav.scrolled {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(255, 202, 67, 0.7);
  box-shadow: 0px 1px 3px 0px rgba(255, 202, 67, 0.7);
}

.gnbUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  width: 1120px;
}

.logoBox {
  margin-right: 100px;
  height: 54px;
}

.logoBox > a {
  display: inline-block;
  height: 54px;
}

.logoBox > a > img {
  width: 127px;
}

.gnbLi {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 50px;
  color: #222222;
  font-size: 18px;
  font-weight: 500;
}

.gnbLi > a:hover::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ffcd32;
}

.buttonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  width: 90px;
}

.buttonBox > a > img {
  width: 30px;
}

.test {
  height: 1900px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fbc2eb),
    to(#a6c1ee)
  );
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
