@import url(gnb.css);
@import url(class.css);
@import url(banner.css);
@import url(footer.css);
@import url(modal.css);
main {
  margin-top: 140px;
}

@media screen and (max-width: 1023px) {
  main {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 50px;
  }
}

section:not(:first-child) {
  margin-top: 90px;
}

@media screen and (max-width: 768px) {
  section:not(:first-child) {
    margin-top: 50px;
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 60px;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }
}

#video-section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video {
  width: 890px;
  height: 500px;
}

@media screen and (max-width: 1023px) {
  .video {
    width: 100%;
  }
}
