section {
  margin-top: 90px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 60px;
  position: relative;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.5px;
    b {
      font-weight: 700;
    }
  }

  .btn-more {
    font-size: 14px;
    color: #787878;
    &:hover {
      color: #ffcd32;
    }
  }
}

.section-contents {
  width: 100%;
  display: flex;

  & > * {
    flex-basis: 50%;
  }
}

.main-class {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  background-image: url('https://kukka-2-media-123.s3.amazonaws.com/media/class-name/ContentsTopBanner/3/class_2022_home_mob_okfoQzB.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .main-class-txt {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 18px;
    letter-spacing: -0.5px;
    b {
      display: block;
      margin-top: 10px;
      font-size: 25px;
      font-weight: 700;
      line-height: 1;
      img {
        height: 18px;
      }
    }
  }
}

.sub-class {
  display: flex;

  &:last-child {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #d3d3d3;
  }

  .thumbnail {
    display: inline-block;
    min-width: 46%;
    overflow: hidden;

    span {
      display: block;
      width: 100%;
      height: 170px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &:first-child .thumbnail span {
    background-image: url('https://kukka-2-media-123.s3.amazonaws.com/media/class-name/ClassProductGroup/106/img_%EC%98%A4%EC%95%84%EC%8B%9C%EC%8A%A4-%EB%A6%AC%EC%8A%A4.jpg');
  }

  &:last-child .thumbnail span {
    background-image: url('https://kukka-2-media-123.s3.amazonaws.com/media/class-name/ClassProductGroup/107/img_%ED%81%B4%EB%9E%98%EC%8B%9D-%ED%95%B8%EB%93%9C%ED%83%80%EC%9D%B4%EB%93%9C.jpg');
  }
}

.class-info {
  padding-left: 20px;
  width: 100%;

  .name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.3px;
    margin-bottom: 3px;
  }

  .price {
    font-size: 14px;
    font-weight: 500;
  }

  .branch-tag {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-top: 15px;

    .tag {
      padding: 5px;
      line-height: 1;
      border: 1px solid;
      border-radius: 10px;
      text-align: center;
      font-size: 10px;
      font-weight: 300;
      letter-spacing: -0.15px;
      min-width: 50px;
      margin-bottom: 5px;
      margin-right: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.tag.tag-ghm {
  border-color: #a27fde;
  color: #a27fde;
}
.tag.tag-js {
  border-color: #46cfa7;
  color: #46cfa7;
}
.tag.tag-wg {
  border-color: #ffa04d;
  color: #ffa04d;
}
.tag.tag-gr {
  border-color: #68a4fe;
  color: #68a4fe;
}
.tag.tag-sp {
  border-color: #ffcd32;
  color: #ffcd32;
}
.tag.tag-bdr {
  border-color: #00afe3;
  color: #00afe3;
}

.arrow-btns {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 51%;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &.btn-prev {
      left: -3%;
      padding-right: 5px;
    }

    &.btn-next {
      right: -3%;
      padding-left: 5px;
    }

    img {
      height: 30px;
      opacity: 0.2;
    }
  }
}
